<template>
      <div class="list">
        <div class="title">{{ list.name }}</div>
        <div class="description">{{ list.description }}</div>
        <ul>
          <li class="product" v-for="({ product: { name, description } }) in list.products">
            {{ name }}
          </li>
        </ul>
      </div>
  </ul>
</template>
<script>
export default {
  props: {
    list: Object,
  }
}
</script>
<style scoped>
.list {
  border: 1px solid black;
  margin-bottom: 1em;
}

.title {
  text-transform: uppercase;
}

.description {
  color: darkgray;
}

.product {
  text-align: left;
}
</style>