<template>
  <div class="container">
    <div class="column description">
      <p>This is a minimalistic application to show an authorization flow with Hasura and Nuxt.js</p>
      <br />
      <p>To login just write a registered mail in the topbar.</p>
      <br />
      <ul>
        <li><strong>Anonymous</strong> users will get public lists displayed on the right.</li>
        <li><strong>Registered</strong> users will get their own lists displayed.</li>
      </ul>
    </div>
    <div class="column">
      <h1>Lists</h1>
      <shopping-list v-for="list in lists" :list="list" />
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';

import ShoppingList from '../components/shopping-list.vue';
import { GetAllLists } from '../graphql/lists';

export default {
  components: {
    ShoppingList,
  },
  apollo: {
    lists: {
      query: GetAllLists,
      fetchPolicy: 'no-cache',
    },
  },
  computed: {
    ...mapState(['isLoggedIn']),
  },
  watch: {
    isLoggedIn() {
      this.$apollo.queries.lists.refetch();
    }
  }
}
</script>

<style>
.container {
  width: 800px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.column {
  width: 50%;
}
</style>
